/* Color Palette
#080705 dark grey
#006992 cerulean blue
#673C4F eggplant
#737272 grey
#C5C3C6 light grey
#DCDCDD lighter grey
#e9e9eb lightest grey

*/    
body {
    color: #080705;
    width: 600px;
    padding: 25px;
    border: #006992;
    border-style: double;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}    
h1 {
        color: #006992;
        font-weight: bold;
        font-size: 34px;
    }
    h2 {
        color: #673C4F;
        font-weight: bold;
        font-size: 28px;
    }
    h3 {
        color: #737272;
        font-weight: bold;
        font-size: 22px;        
    }
    header {
        background-color: #C5C3C6;
        padding: 10px;
    }
    img {
        float: left;
        padding: 0px 10px 10px 10px;
    }
    a {
        color:#006992;
    }
    a:visited {
        color: #673C4F;
    }
    a:hover {
        background: #006992;
        color: #DCDCDD;
    }
    .projects {
        min-height: 250px;
        padding: 25px;
    }

    .work {
        background-color: #e9e9eb;
        padding: 25px;
    }